
body {
    font-family: arial;
    font-size: 10px;
    margin: 0;
}
.system_login {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    margin: 40px auto;
    width: 400px;
}
.heading {
    background: url("../../img/admin/box.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #DDDDDD;
    border-radius: 10px 10px 0 0;
    height: 39px;
    margin-top: -15px;
    width: 100%;
}
.heading h3 {
    background: url("../../img/admin/lockscreen.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
    color: #003A88;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0 10px 40px;
}
.system_content {
    display: inline-block;
    margin-top: 15px;
    width: 100%;
}
.img_unlock {
    float: left;
    text-align: center;
    width: 140px;
}
.form_login {
    float: left;
    width: 260px;
}
.form_login .tbl_login {
    width: 100%;
}
.form_login .tbl_login tr {
    display: block;
    margin-bottom: 10px;
}
.form_login .tbl_login tr td.but_log {
    display: block;
    margin-right: 15px;
    margin-top: 20px;
    text-align: right;
}
.form_login .tbl_login tr td .email {
    width: 240px;
}
.form_login .tbl_login tr td.but_log .btn_log {
    background-color: #003A88;
    border: medium none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    padding: 5px 10px;
}
.warning_login {
    background-color: #FFD1D1;
    border: 1px solid #F8ACAC;
    border-radius: 4px;
    display: none;
    margin: 0 auto 15px;
    width: 96%;
}
.warning_login h3 {
    background: url("../../img/admin/warning.png") no-repeat scroll 10px 9px rgba(0, 0, 0, 0);
    color: #555555;
    padding: 10px 0 10px 30px;
}
.notice_login {
    background-color: #DDFFDD;
    border: 1px solid #00CC00;
    border-radius: 4px;
    margin: 0 auto 15px;
    width: 96%;
}
.notice_login h3 {
    color: #555555;
    line-height: 22px;
    padding: 10px 0 10px 30px;
}
.system_footer {
    color: #666666;
    text-align: center;
}
.system_footer p {
    margin: 10px;
}
.overlay .click_showtem {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 0;
}
