
#nav {
    font-weight: 400;
    width: 100%;
}
#nav > a {
    display: none;
}
#nav li {
    list-style: outside none none;
    position: relative;
}
#nav li a {
    color: #fff;
    display: block;
}
#nav li a:active {
    background-color: #1a9dcc;
}
#nav span::after {
    content: "";
    height: 0;
    width: 0;
}
#nav > ul {
    background-color: #3993ba;
    height: 40px;
    margin-top: 0px;
}
#nav > ul > li:first-child {
    margin-left: -40px;
}
#nav > ul > li {
    float: left;
    list-style: outside none none;
    padding: 0 15px;
    /*! margin-top: -15px; */
}
#nav > ul > li > a {
    font-size: 1.5em;
    height: 100%;
    line-height: 40px;
    text-align: center;
}
#nav > ul > li:not(:last-child) > a {
}
#nav > ul > li:hover, #nav > ul:not(:hover) > li.active {
    background: #1a9dcc none repeat scroll 0 0;
}
#nav li ul {
    background-color: #38b8e6;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
}
#nav li:hover ul {
    display: block;
    left: 0;
    right: 0;
}
#nav li:hover:not(:first-child) ul {
    left: -1px;
}
#nav li ul a {
    font-size: 1.25em;
    padding: 0.75em;
}
#nav li ul li a:hover, #nav li ul:not(:hover) li.active a {
    background-color: #1a9dcc;
}
@media only screen and (max-width: 62.5em) {
#nav {
    margin: 0;
    position: static;
    width: 100%;
}
}
@media only screen and (max-width: 40em) {
html {
    font-size: 75%;
}
#nav {
    left: auto;
    position: relative;
    top: auto;
}
#nav > a {
    background-color: #e15a1f;
    height: 3.125em;
    position: relative;
    text-align: left;
    text-indent: -9999px;
    width: 3.125em;
}
#nav > a::before, #nav > a::after {
    border: 2px solid #fff;
    content: "";
    left: 25%;
    position: absolute;
    right: 25%;
    top: 35%;
}
#nav > a::after {
    top: 60%;
}
#nav:not(:target) > a:first-of-type, #nav:target > a:last-of-type {
    display: block;
}
#nav > ul {
    display: none;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
}
#nav:target > ul {
    display: block;
}
#nav > ul > li {
    float: none;
    width: 100%;
}
#nav > ul > li > a {
    height: auto;
    padding: 0 0.833em;
    text-align: left;
}
#nav > ul > li:not(:last-child) > a {
    border-bottom: 1px solid #ccc;
    border-right: medium none;
}
#nav li ul {
    padding: 0 1.25em 1.25em;
    position: static;
}
}
.footer-bar {
    background: #111 none repeat scroll 0 0;
    border-top: 1px solid #e62600;
    bottom: 0;
    display: block;
    height: 45px;
    left: 0;
    line-height: 45px;
    position: fixed;
    width: 100%;
}
.footer-bar .article-wrapper {
    color: #888;
    float: left;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin-left: 10%;
}
.footer-bar .article-link a, .footer-bar .article-link a:visited {
    color: #fff;
    text-decoration: none;
}
.site-link a, .site-link a:visited {
    color: #888;
    float: right;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin-right: 10%;
    text-decoration: none;
}
.site-link a:hover {
    color: #e62600;
}
#nav ul li ul li {
    background: #1a9dcc none repeat scroll 0 0;
    width: 200px;
}
#nav ul li a {
    font-size: 15px;
    text-decoration: none;
}
