
.popup_box {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 5px #808080;
    display: none;
    height: auto;
    /*margin: auto auto auto 250px;*/
    min-width: 300px;
    padding: 15px;
    position: fixed;
    top: 20%;
    z-index: 100;
}
.popupBoxClose {
    background: rgba(0, 0, 0, 0) url("close.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 9px;
    top: 5px;
    width: 16px;
}
.notification {
    background-color: #d9edf7;
    border-color: #bce8f1;
    border-radius: 5px;
    color: #3a87ad;
    font-size: 12px;
    padding: 10px;
    width: 400px;
}
