
body {
    background: #eeeeee none repeat scroll 0 0 !important;
    font-family: "lucida grande",verdana,helvetica,arial,sans-serif;
    margin: 0;
}
a:hover {
    text-decoration: none;
}
a img {
    border: medium none;
}
h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.5em;
}
h1 {
    background: #ffffff none repeat scroll 0 0;
    color: #003d4c;
    font-size: 100%;
}
h2 {
    background: #ffffff none repeat scroll 0 0;
    color: #ee3322;
    font-family: "Gill Sans","lucida grande",helvetica,arial,sans-serif;
    font-size: 190%;
}
h3 {
    color: #2c6877;
    font-family: "Gill Sans","lucida grande",helvetica,arial,sans-serif;
    font-size: 165%;
}
h4 {
    color: #3a87ad;
    font-weight: bold;
}
.width_100 {
    width: 100%;
}
.float_left {
    float: left;
}
._container {
    margin: auto;
    width: 1000px;
}
.main_content {
    background: #ffffff none repeat scroll 0 0;
    margin: auto;
    width: 1000px;
}
.header {
}
.table_main {
    float: left;
    width: 100%;
}
table.table_main tr td.td_left {
    width: 250px;
}
table {
    border-collapse: collapse;
}
.table_main {
    margin: auto;
    width: 100%;
}
.table_main td {
    border-collapse: collapse;
    font-size: 11px;
    padding: 5px 10px;
    vertical-align: top;
}
.table_main td {
    border-collapse: collapse;
    padding: 5px 10px;
    vertical-align: top;
}
.table_main td {
    border: 0 solid #a8b8c5;
    border-collapse: collapse;
    padding: 5px 10px;
    vertical-align: top;
}
a {
    cursor: pointer;
    text-decoration: none;
}
a.a_logo {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 2px;
    text-transform: uppercase;
}
span.paginate_active {
    color: #ff0000;
}
a.paginate_link {
    color: #666666;
}
a.paginate_link:hover {
    color: #ff0000;
}
.a_icon {
    color: #000000;
    display: block;
    float: right;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
}
a.a_icon:hover {
    color: #000000;
}
.tr_link_22 {
    text-align: right;
}
img.img_add {
    float: left;
}
.text_500 {
    float: left;
    height: 25px;
    width: 500px;
}
.height_100 {
    height: 100px;
}
.height_60 {
    height: 60px;
}
img.img_edit {
    cursor: pointer;
}
img.img_thumb_sp {
    width: 100px;
}
.content_left {
    float: left;
    margin-top: 6px;
    min-height: 550px;
    width: 20%;
}
.content_right {
    float: left;
    margin-left: 2%;
    margin-top: -20px;
    min-height: 550px;
    width: 75%;
}
.footer {
    float: left;
    width: 100%;
}
.content_left ul.ul_notify {
    margin-left: -40px;
}
.content_left ul.ul_notify li:first-child {
    border-bottom: 1px solid #ccc;
    list-style: outside none none;
    padding-left: 10px;
}
.content_left ul.ul_notify li:first-child span {
    display: block;
    font-weight: bold;
    line-height: 40px;
}
.content_left ul.ul_notify li {
    list-style: outside none none;
    margin-top: 10px;
}
a {
    color: #006fa9;
}
.header {
    background: #3993ba none repeat scroll 0 0;
    float: left;
    height: 41px;
    margin-top: 0;
    width: 100%;
}
.menu_top {
    margin: auto;
    width: 1000px;
}
.custom {
    float: left;
    margin: 10px 10px 1px;
    width: 100%;
}
.custom ._left {
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
}
.custom ._right {
    float: right;
    margin-right: 10px;
}
input[type="button"]:hover {
    cursor: pointer;
}
.data_table {
    display: block;
    float: left;
    overflow: auto;
    width: 100%;
}
.fix_tit_01 {
    display: block;
    width: 100px;
}
.fix_tit_02 {
    display: block;
    width: 60px;
}
.btn_submit {
    background: #18659c none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 15px;
}
.btn_success {
    background: #509d02 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 15px;
}
.btn_detail {
    margin-right: 10px;
}
._tab {
    background: #ebebeb none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    float: left;
    width: 100%;
}
._tab span {
    cursor: pointer;
    font-weight: bold;
    line-height: 35px;
    padding: 5px 10px 11px;
}
._tab span.tab_active {
    background: #ffffff none repeat scroll 0 0;
    cursor: default;
    padding: 5px 10px 12px;
}
.tab_content {
    border: 1px solid #ebebeb;
    float: left;
    padding-left: 1%;
    padding-top: 10px;
    width: 99%;
}
.pointer {
    cursor: pointer;
}
._hidden {
    display: none;
}
.img_product {
    float: left;
    margin-right: 30px;
    width: 250px;
}
.img_large {
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
img.img_large {
    float: left;
    width: 100%;
}
img.no_img {
    width: 100%;
}
img.img_thumb {
    float: left;
    margin-left: 5px;
    width: 50px;
}
.psummary ul li {
    list-style-image: url("/imgs/icon/bg_li.png");
}
._tab a {
    float: right;
    padding: 5px 10px;
}
tr.enable td {
    background: #edf9f9 none repeat scroll 0 0;
}
._close {
    display: none;
}
._open {
    display: block;
}
.width100 {
    float: left;
    width: 100% !important;
}
.close_content_left {
    background: #eeeeee none repeat scroll 0 0;
    display: block;
    text-align: center;
    width: 20%;
}
.popup_edit_product {
    margin: auto;
    width: 800px;
}
ul.custom_collumn {
    background: #3993ba none repeat scroll 0 0;
}
ul.custom_collumn li {
    background: #3993ba none repeat scroll 0 0;
    color: #ffffff;
}
ul.custom_collumn li label {
    font-weight: normal;
}
ul.custom_collumn li input[type="checkbox"] {
    margin-left: 10px;
}
.modal-header {
    background: #38b8e6 none repeat scroll 0 0;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
hr{
    border: 0px
}
.nav-tabs li {
    margin-left: 10px;
}
ul.main_img_edit {
    float: left;
    width: 100%;
}
ul.main_img_edit li{
    width: 150px;
    float: left;
    list-style: none;
    margin-left: 10px;
    text-align: right;
}
ul.main_img_edit img {
    margin-bottom: 10px;
    width: 100%;
}
ul.main_img_edit span {
    font-weight: bold;
    color: red;
    position: absolute;
    cursor: pointer;
}
ul.main_img_edit span:hover{
    color: #509d02
}
ul.main_img_edit li div{
    float: right;
    margin-right: 15px;
}
.content {
    background: #eeeeee none repeat scroll 0 0;
}
.search_box {
}
input._pid {
    width: 70px;
}
.search_box ._keyword {
    font-size: 12px;
}
._enable_edit {
    color: #006fa9;
}
._disable_edit {
    background: #fafafa none repeat scroll 0 0 !important;
}
div.search_header{
    width: 100%;
    float: left;
    margin-top: 15px;
    padding-bottom: 5px;
}
form.form-control {
    border: 0px !important
}
._right {
    float: right
}
.search_header label{
    font-weight: bold;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 13px
}
.search_header em{
    padding-left: 15px
}
.search_header {
    border-bottom: 1px #ccc solid
}
.main_search {
    display: none
}
.search_header input[type='text'] {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px #ccc solid;
    height: 30px;
    padding-left: 5px;
}
.item_search input[type='text'] {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px #ccc solid;
    height: 30px;
    padding-left: 5px;
}
.item_search ._title {
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 35px;
    padding-left: 10px;
    text-transform: uppercase;
    width: 100%;
}
.main_search {
    float: left;
    width: 100%;
}
.item_search ul {
    float: left;
    margin-left: -40px;
}
.item_search ul li {
    list-style: outside none none;
}
.item_search ul li label {
    color: #2a2a2a;
    font-size: 12px;
    font-weight: normal;
}
.item_search p{
    border-bottom: 1px #ccc solid;
    padding: 5px;
}
.item_search {
    background: #ffffff none repeat scroll 0 0;
    float: left;
    margin-bottom: 10px;
    margin-right: 1%;
    margin-top: 10px;
    text-align: left;
    width: 19%;
    height: 200px;
    padding: 1%;
    overflow: auto;
}

.item_search .radio,.item_search .checkbox {
    margin: 0px !important;
}



