
table {
    border-collapse: collapse;
}


.table_form {
    margin: auto;
    width: 100%;
}
.table_form tr td {
    height: 30px;
    line-height: 24px;
}
.table_form td {
    background: none repeat scroll 0 0 #FFFFFF;
    border-collapse: collapse;
    font-size: 11px;
    padding: 5px 10px;
    vertical-align: top;
}
.table_form th {
    background: none repeat scroll 0 0 #DBEFF0;
    border: 1px solid #A8B8C5;
    border-collapse: collapse;
    padding: 5px 10px;
    vertical-align: top;
}
.table_form th {
    font-size: 12px
}


.table_quanly {
    margin: auto;
    width: 100%;
}
.table_quanly tr td {
    height: 30px;
    line-height: 24px;
}
.table_quanly td {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A8B8C5;
    border-collapse: collapse;
    font-size: 11px;
    padding: 5px 10px;
    vertical-align: top;
}
.table_quanly th {
    background: none repeat scroll 0 0 #DBEFF0;
    border: 1px solid #A8B8C5;
    border-collapse: collapse;
    padding: 5px 10px;
    vertical-align: top;
}
.table_quanly th {
    font-size: 12px
}
.tr_title_total td {
    background: none repeat scroll 0 0 #97CACE;
}
.tr_table2 td {
    background: none repeat scroll 0 0 #ECFFFF;
    border: 1px solid #A8B8C5;
    border-collapse: collapse;
    padding: 5px 10px;
    vertical-align: top;
}
.table_tk {
    float: left;
    margin-right: 2px;
}
.table_tk td {
    height: 37px;
}
.table_tk select {
    height: 22px;
}
.table_1111 {
    float: left;
    margin-left: 0.5%;
    width: 47%;
}
.table_2222 {
    float: left;
    margin-left: 5%;
    width: 47%;
}
.table_1111 td {
    background: none repeat scroll 0 0 #F0FDFF;
    border: 1px solid #A8B8C5;
    border-collapse: collapse;
    font-size: 11px;
    padding: 5px 10px;
    vertical-align: top;
}
.table_sosanh1 td {
    background: none repeat scroll 0 0 #F0FDFF;
    border: 1px solid #A8B8C5;
    border-collapse: collapse;
    font-size: 11px;
    padding: 5px 10px;
    vertical-align: top;
}
.table_sosanh1 {
    float: left;
    margin-left: 0.5%;
    width: 99%;
}
.table_2222 td {
    background: none repeat scroll 0 0 #F0FDFF;
    border: 1px solid #A8B8C5;
    border-collapse: collapse;
    font-size: 11px;
    padding: 5px 10px;
    vertical-align: top;
}
.table_chitiet {
    margin: auto;
    overflow: hidden;
    width: 90%;
}
.block_form_bds {
    margin: auto;
    width: 80%;
}
.main_table_nhap_bds {
    margin: auto;
    width: 100%;
}
.table_nhap_bds_1 {
    float: left;
    width: 100%;
}
.table_nhap_bds_1 td {
    background: none repeat scroll 0 0 #F0FDFF;
    border-collapse: collapse;
    font-size: 11px;
    padding: 5px 10px;
    vertical-align: top;
}
.table_nhap_bds_2 td {
    background: none repeat scroll 0 0 #F0FDFF;
    border: 1px solid #A8B8C5;
    border-collapse: collapse;
    font-size: 11px;
    padding: 5px 10px;
    vertical-align: top;
}
.table_nhap_bds_2 span {
    color: #FF6600;
}
.table_nhap_bds_2 {
    margin-left: 2%;
    width: 98%;
}
#ghichu {
    height: 85px;
}
input.input_phongngu {
    width: 43%;
}
input.input_ngaykethuc {
    width: 32%;
}
input.input_phongtam {
}
.table_submit tr td {
    border: 0 none;
}
td.emty {
    background-color: #B1DFE9;
}
.loaihightlight {
    background-color: #C4F1FF;
    color: #FF0000;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
.ID_column {
    color: #0000FF;
    font-weight: bold;
}
td.form_td_1 {
    width: 150px;
}
