.user-permison{
    margin: 30px;
}
.user-permisson-dropdown {
    margin: 20px;
}
.user-permison-table {
    border: solid #aaaaaa 2px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.user-permison-table tr {
    margin-left: 5px;
}
.user-permison-table tr td{
    padding-left: 10px;
    padding-right: 5px;
    border-right: dotted #aaaaaa 1px;
}
.m-alert-position {
    position: static;
    padding-top: 100px !important;
}