._success {
    color: #4caf50;
    line-height: 30px
}
._right {
    float: right
}
._left {
    float: left
}
.option-menu {
    position: absolute;
    margin-top: 4px;
    z-index: 1;
    margin-left: 10px;
}
h6.mt0 {
    border-bottom: 1px #448aff solid
}
ul.ul_search02 li {
    margin-bottom: 10px
}
._top10 {
    margin-top: 10px
}
._item_search ul{
    height: 200px;
    overflow: auto
}
.bootgrid-header .search.form-group {
    width: 40%;
}
.content-item-search{
    height: 195px;
    overflow: auto;
}
.grid-item {
    padding-right: 2%
}
.bootgrid-header .search span.input-group-addon{
    font-size: 0px !important
}

.img_product {
    float: left;
    margin-right: 30px;
    width: 40%;
}
.img_large {
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
img.img_large {
    float: left;
    width: 100%;
}
img.no_img {
    width: 100%;
}
img.img_thumb {
    float: left;
    margin-left: 5px;
    width: 50px;
}
.psummary ul li {
    list-style-image: url("/imgs/icon/bg_li.png");
    margin-top: 10px;
}
._tab a {
    float: right;
    padding: 5px 10px;
}
tr.enable td {
    background: #edf9f9 none repeat scroll 0 0;
}
._close {
    display: none;
}
._open {
    display: block;
}
.width100 {
    float: left;
    width: 100% !important;
}
.close_content_left {
    background: #eeeeee none repeat scroll 0 0;
    display: block;
    text-align: center;
    width: 20%;
}
.popup_edit_product {
    margin: auto;
    width: 800px;
}
.modal-header {
    background: #38b8e6 none repeat scroll 0 0;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
hr{
    border: 0px
}
._pointer {
    cursor: pointer
}


img.img_edit {
    cursor: pointer;
}
img.img_thumb_sp {
    width: 100px;
}
.content_left {
    float: left;
    margin-top: 6px;
    min-height: 550px;
    width: 20%;
}
.content_right {
    float: left;
    margin-left: 2%;
    margin-top: -20px;
    min-height: 550px;
    width: 75%;
}
.footer {
    float: left;
    width: 100%;
}
.content_left ul.ul_notify {
    margin-left: -40px;
}
.content_left ul.ul_notify li:first-child {
    border-bottom: 1px solid #ccc;
    list-style: outside none none;
    padding-left: 10px;
}
.content_left ul.ul_notify li:first-child span {
    display: block;
    font-weight: bold;
    line-height: 40px;
}
.content_left ul.ul_notify li {
    list-style: outside none none;
    margin-top: 10px;
}
a {
    color: #006fa9;
}
.header {
    background: #3993ba none repeat scroll 0 0;
    float: left;
    height: 41px;
    margin-top: 0;
    width: 100%;
}
.menu_top {
    margin: auto;
    width: 1000px;
}
.custom {
    float: left;
    margin: 10px 10px 1px;
    width: 100%;
}
.custom ._left {
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
}
.custom ._right {
    float: right;
    margin-right: 10px;
}
input[type="button"]:hover {
    cursor: pointer;
}
.data_table {
    display: block;
    float: left;
    overflow: auto;
    width: 100%;
}
.fix_tit_01 {
    display: block;
    width: 100px;
}
.fix_tit_02 {
    display: block;
    width: 60px;
}
.btn_submit {
    background: #18659c none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 15px;
}
.btn_success {
    background: #509d02 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 15px;
}
.btn_detail {
    margin-right: 10px;
}
._tab {
    background: #ebebeb none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    float: left;
    width: 100%;
}
._tab span {
    cursor: pointer;
    font-weight: bold;
    line-height: 35px;
    padding: 5px 10px 11px;
}
._tab span.tab_active {
    background: #ffffff none repeat scroll 0 0;
    cursor: default;
    padding: 5px 10px 12px;
}
.tab_content {
    border: 1px solid #ebebeb;
    float: left;
    padding-left: 1%;
    padding-top: 10px;
    width: 99%;
}
.pointer {
    cursor: pointer;
}
._hidden {
    display: none;
}
.img_product {
    float: left;
    margin-right: 30px;
    width: 40%;
}
.img_large {
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
img.img_large {
    float: left;
    width: 100%;
}
img.no_img {
    width: 100%;
}
img.img_thumb {
    float: left;
    margin-left: 5px;
    width: 50px;
}
.psummary ul li {
    list-style-image: url("/imgs/icon/bg_li.png");
}
._tab a {
    float: right;
    padding: 5px 10px;
}
tr.enable td {
    background: #edf9f9 none repeat scroll 0 0;
}
._close {
    display: none;
}
._open {
    display: block;
}
.width100 {
    float: left;
    width: 100% !important;
}
.close_content_left {
    background: #eeeeee none repeat scroll 0 0;
    display: block;
    text-align: center;
    width: 20%;
}
.popup_edit_product {
    margin: auto;
    width: 800px;
}
ul.custom_collumn {
}
ul.custom_collumn li {
    color: #ffffff;
}
ul.custom_collumn li label {
    font-weight: normal;
}
ul.custom_collumn li input[type="checkbox"] {
    margin-left: 10px;
}
.modal-header {
    background: #38b8e6 none repeat scroll 0 0;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
hr{
    border: 0px
}
.nav-tabs li {
    margin-left: 10px;
}
ul.main_img_edit {
    float: left;
    width: 100%;
}
ul.main_img_edit li{
    width: 150px;
    float: left;
    list-style: none;
    margin-left: 10px;
    text-align: right;
}
ul.main_img_edit img {
    margin-bottom: 10px;
    width: 100%;
}
ul.main_img_edit span {
    font-weight: bold;
    color: red;
    position: absolute;
    cursor: pointer;
}
ul.main_img_edit span:hover{
    color: #509d02
}
ul.main_img_edit li div{
    float: right;
    margin-right: 15px;
}
.content {
    background: #eeeeee none repeat scroll 0 0;
}
.search_box {
}
input._pid {
    width: 70px;
}
.search_box ._keyword {
    font-size: 12px;
}
._enable_edit {
    color: #006fa9;
}
._disable_edit {
}
div.search_header{
    width: 100%;
    float: left;
    margin-top: 15px;
    padding-bottom: 5px;
}
form.form-control {
    border: 0px !important
}
._right {
    float: right
}
.search_header label{
    font-weight: bold;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 13px
}
.search_header em{
    padding-left: 15px
}
.search_header {
    border-bottom: 1px #ccc solid
}
.search_header input[type='text'] {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px #ccc solid;
    height: 30px;
    padding-left: 5px;
}
.item_search input[type='text'] {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px #ccc solid;
    height: 30px;
    padding-left: 5px;
}
.item_search ._title {
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 35px;
    padding-left: 10px;
    text-transform: uppercase;
    width: 100%;
}
.main_search {
    float: left;
    width: 100%;
}
.item_search ul {
    float: left;
    margin-left: -40px;
}
.item_search ul li {
    list-style: outside none none;
}
.item_search ul li label {
    color: #2a2a2a;
    font-size: 12px;
    font-weight: normal;
}
.item_search p{
    border-bottom: 1px #ccc solid;
    padding: 5px;
}
.item_search {
    background: #ffffff none repeat scroll 0 0;
    float: left;
    margin-bottom: 10px;
    margin-right: 1%;
    margin-top: 10px;
    text-align: left;
    width: 19%;
    height: 200px;
    padding: 1%;
    overflow: auto;
}

.item_search .radio,.item_search .checkbox {
    margin: 0px !important;
}
.form-thanhphan {
    min-width: 80px
}
.main_search {
    display: none
}

.label-title01 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: inline-block;
    font-size: .85em;
    opacity: .5;
    font-weight: 500;
    /* -webkit-transition: all 0.2s ease; */
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#candidate-error {
    color: red;
    font-size: 12px;
}
.productInvalid {
    display: none
}
.textarea01 {
    width: 100%;
    height: 29px !important;
}
.hidden01 {display: none}
.active-search-form {
    display: block
}

.loading {
    color: #ee3322 !important
}

.item-search {
    height: 250px;
    margin-top: 10px
}

.dropdown-item {
    color: #000000
}
a.collumn_link{
    color: #448aff !important;
}
.main-btn {
    text-align: right
}
.menu-left-active {
    background-color: #1976D2 !important;
    color: #ffffff;
}
.menu-left-active ul{
    background-color: #ffffff;
    color: #000000;
}
.fleft {
    float: left
}
.main-add-order {
    float: left;
    max-width: 300px;
}
.main-add-order ul {
    margin-left: -40px;
    float: left
}
.main-add-order ul li{
    float: left;
    list-style: none;
}
.main-add-order ul li span {
    padding: 8px 11px;
    background: #ebebeb;
    border-radius: 4px;
    color: #000000;
    display: block;
    margin-right: 10px;
}
.main-btn-confirm {
    width: 100%;
    float: left
}
.fnormal {
    font-weight: normal
}

._red {
    color: red
}






